a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.container {
  margin-top: 30px;
}

.card {
  margin-left: 20px;
  padding: 10px;
}

#kori {
  background-color: #ccc;
  padding-left: 10px;
  width: 50px;
}

#kori span {
  position: relative;
  top: -10px;
  font-size: 0.8em;
}